transformers~=4.38.2
torch~=2.2.1
numpy~=1.26.4
mistralai~=0.1.6
openai~=1.13.3
langchain~=0.1.12
langchain_openai~=0.0.8
accelerate~=0.28.0
tqdm~=4.66.2
datasets~=2.18.0
torchaudio~=2.2.1
bitsandbytes~=0.42.0